<launch>
  <!-- https://github.com/ros-planning/navigation/issues/206 -->
<!--  <rosparam command="delete" ns="move_base" /> -->

<!--
  <include file="$(find arlobot_bringup)/launch/3dsensor.launch">
    <arg name="rgb_processing" value="false" />
    <arg name="depth_registration" value="false" />
    <arg name="depth_processing" value="false" />
    <arg name="scan_topic" value="/scan" />
  </include>
-->

  <!-- Map server -->
  <arg name="map_file" default="$(find mybot)/map/hector.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
  <param name="frame_id" value="/map" />
  </node>

  <!--- Run AMCL -->
  <include file="$(find mybot)/launch/includes/amcl.launch"/>

    <!--arg name="initial_pose_x" value="0"/-->
    <!--arg name="initial_pose_y" value="0"/-->
    <!--arg name="initial_pose_a" value="0"/-->

<!--
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
-->

  <!--- Run Hector Slam for loc -->
<!--include file="$(find mybot)/launch/includes/hector_slam.launch"/-->

 <!--- Run Move Base -->
  <include file="$(find mybot)/launch/includes/move_base.launch"/>

</launch>
