<?xml version="1.0" encoding="UTF-8"?>
<launch>

 <env name="GAZEBO_MODEL_PATH" value="$GAZEBO_MODEL_PATH:$(find mybot)/models" />
  <env name="GAZEBO_RESOURCE_PATH" value="$GAZEBO_RESOURCE_PATH:$(find mybot)/models" />

  <arg name="world" default="empty"/> 
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  
 <!--                       Gazebo                               -->
 <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!--arg name="world_name" value="$(find mybot_gazebo)/worlds/mybot.world"/-->
    <!--arg name="world_name" value="$(find mybot)/worlds/turtlebot_playground.world"/-->
    <arg name="world_name" value="$(find mybot)/worlds/house.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  
  <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
   args="-urdf -param robot_description -model pioneer3at" />

   <!--                       Rviz                             -->

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find mybot)/urdf/pioneer3at.urdf'"/>

  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="False"/>
  </node>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

  <!-- Show in Rviz   -->
<node name="rviz" pkg="rviz" type="rviz" args="-d $(find mybot)/rviz/amcl.rviz"/>



  <master auto="start"/>
  <param name="/use_sim_time" value="true"/>

<!--                                                             -->
<!--                       Amcl                                  -->

<include file="$(find mybot)/launch/includes/demo_amcl.launch"/>

</launch>
