<?xml version="1.0" encoding="UTF-8"?>
<launch>

 <env name="GAZEBO_MODEL_PATH" value="$GAZEBO_MODEL_PATH:$(find mybot)/models" />
  <env name="GAZEBO_RESOURCE_PATH" value="$GAZEBO_RESOURCE_PATH:$(find mybot)/models" />

  <arg name="world" default="empty"/> 
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  
 <!--                       Gazebo                               -->
 <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!--arg name="world_name" value="$(find mybot_gazebo)/worlds/mybot.world"/-->
    <!--arg name="world_name" value="$(find mybot)/worlds/turtlebot_playground.world"/-->
    <arg name="world_name" value="$(find mybot)/worlds/house.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  
  <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
   args="-urdf -param robot_description -model pioneer3at" />

   <!--                       Rviz                             -->

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find mybot)/urdf/pioneer3at.urdf'"/>

  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="False"/>
  </node>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mybot)/rviz/mapping.rviz"/>
  <!--node name="rviz" pkg="rviz" type="rviz" args="-d $(find mybot_description)/launch/myrobot.rviz"/-->



  <master auto="start"/>
  <param name="/use_sim_time" value="true"/>


<!--                                                             -->
<!--                       Gmapping                              -->

<!--include file="$(find mybot)/launch/includes/gmapping.launch"/-->

<!--                                                             -->
<!--                       Hector_Slam                           -->

<include file="$(find mybot)/launch/includes/hector_slam.launch"/>

<!--                                                             -->
<!--                       Google Cartographer                   -->

<!--include file="$(find mybot)/launch/includes/cartographer.launch"/-->

<!--                                                             -->
<!--                       Amcl                                  -->

<!--node pkg="amcl" type="amcl" name="amcl" output="screen"-->
  <!-- Publish scans from best pose at a max of 10 Hz -->
  <!--param name="odom_model_type" value="diff"/>
  <param name="odom_alpha5" value="0.1"/>
  <param name="transform_tolerance" value="0.2" />
  <param name="gui_publish_rate" value="10.0"/>
  <param name="laser_max_beams" value="30"/>
  <param name="min_particles" value="500"/>
  <param name="max_particles" value="5000"/>
  <param name="kld_err" value="0.05"/>
  <param name="kld_z" value="0.99"/>
  <param name="odom_alpha1" value="0.2"/>
  <param name="odom_alpha2" value="0.2"/-->
  <!-- translation std dev, m -->
  <!--param name="odom_alpha3" value="0.8"/>
  <param name="odom_alpha4" value="0.2"/>
  <param name="laser_z_hit" value="0.5"/>
  <param name="laser_z_short" value="0.05"/>
  <param name="laser_z_max" value="0.05"/>
  <param name="laser_z_rand" value="0.5"/>
  <param name="laser_sigma_hit" value="0.2"/>
  <param name="laser_lambda_short" value="0.1"/>
  <param name="laser_lambda_short" value="0.1"/>
  <param name="laser_model_type" value="likelihood_field"/-->
  <!-- <param name="laser_model_type" value="beam"/> -->
  <!--param name="laser_likelihood_max_dist" value="2.0"/>
  <param name="update_min_d" value="0.2"/>
  <param name="update_min_a" value="0.5"/>
  <param name="odom_frame_id" value="odom"/>
  <param name="resample_interval" value="1"/>
  <param name="transform_tolerance" value="0.1"/>
  <param name="recovery_alpha_slow" value="0.0"/>
  <param name="recovery_alpha_fast" value="0.0"/>
</node-->


<!--                                                             -->
<!--                       Octomap                               -->

  <!--include file="$(find mybot)/launch/turtlebot_rtabmap.launch" /-->

  <!--include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch" /-->

  <!--node name="octomap_server" pkg="octomap_server" type="octomap_server_node">
    <remap from="cloud_in" to="/rtabmap/cloud_map" />
    <param name="frame_id" type="string" value="map" />
    <param name="latch" value="false" />
    <param name="resolution" value="0.05" />
  </node-->

  <!--node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot_octomap)/config/octomap_test.rviz" /-->

  <!--node pkg="tf" type="static_transform_publisher" name="map_world_broadcaster" args="0 0 0 0 0 0 /odom /base_footprint  100" /-->

</launch>
